In [ ]:
import pandas as pd

In [ ]:
import pandas as pd

def process_excel_file(file_path):
    # Load the Excel file
    xls = pd.ExcelFile(file_path)
    
    # Initialize an empty list to store the final result
    final_dataframes = []
    
    # Iterate through all the sheets in the Excel file
    for sheet_name in xls.sheet_names:
        # Read the current sheet into a DataFrame
        df = pd.read_excel(xlsx, sheet_name=sheet_name)
        
        # Step 2: Find the row where the first column contains "Account:"
        account_row = df[df.iloc[:, 0].str.contains("Account:", case=False, na=False)]
        
        if account_row.empty:
            print(f"No 'Account' row found in sheet: {sheet_name}")
            continue
        
        # Extract the row where "Account" was found
        account_row = account_row.iloc[0]
        
        # Step 3: Create a new DataFrame with the account_row as the first row
        new_df = pd.DataFrame([account_row])
        
        # Step 4: Find and append the row that starts with "yyyy-mm"
        # Assuming the first column contains a date in the format "yyyy-mm"
        yyyy_mm_row = df[df.iloc[:, 0].str.match(r'^\d{4}-\d{2}', na=False)]
        
        if not yyyy_mm_row.empty:
            new_df = new_df.append(yyyy_mm_row.iloc[0], ignore_index=True)
        
        # Step 5: Append the last 5 rows
        last_5_rows = df.tail(5)
        new_df = pd.concat([new_df, last_5_rows], ignore_index=True)
        
        # Add the new DataFrame for this sheet to the list
        final_dataframes.append(new_df)
    
    # Concatenate all the dataframes from all sheets
    final_df = pd.concat(final_dataframes, ignore_index=True)
    
    return final_df


# Example usage:
# file_path = 'your_excel_file.xlsx'
# final_df = process_excel_file(file_path)
print(new_df)

In [21]:
import openpyxl

In [22]:
import re

In [ ]:
file_path = (r"C:\Users\j\Documents\Script Tests\Solar Monthly\Meter Summary by Period Distribution2024-10.xlsx")
xls = pd.ExcelFile(file_path)
final_dataframes = []
for sheet_name in xls.sheet_names:
    df = pd.read_excel(xlsx, sheet_name=sheet_name)
    account_contents = Series.str.contains("Account:", case=True, na=False)
    account_row = df[df.iloc[:, 0]]
    # account_row = df[df.iloc[[:, 0]].str.contains("Account:", case=True, na=False)]
    
    if account_row.empty:
        print(f"No 'Account' row found in sheet: {sheet_name}")
        continue

    account_row = account_row.iloc[:,1]
    new_df = pd.DataFrame([account_row])
    # yyyy_mm_row = df[df.iloc[:, 0].str.match(r'^\d{4}-\d{2}', na=False)]
    # if not yyyy_mm_row.empty:
    #     new_df = pd.concat([new_df, pd.DataFrame(yyyy_mm_row.iloc[0])], ignore_index=True)


    print(new_df)

NameError: name 'Series' is not defined

In [ ]:
# file_path = (r"C:\Users\j\Meter Summary by Period Distribution2024-10.xlsx")
# final_df = process_excel_file(r"C:\Users\jSolar Monthly\Results\new_results.csv")
# print(final_df)

In [32]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 10, 'b': 20, 'c': 30, 'd': 40},
          {'a': 11, 'b': 22, 'c': 33, 'd': 44},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000}]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1    10    20    30    40
2    11    22    33    44
3   100   200   300   400
4  1000  2000  3000  4000

In [41]:
df.iloc[:1]

   a  b  c  d
0  1  2  3  4